<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Poof.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Poof.Properties.Settings.poofDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\poof.accdb"
            providerName="System.Data.OleDb" />
        <add name="Poof.Properties.Settings.poof_blankConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\poof_blank.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Poof.Properties.Settings>
            <setting name="homeDirectory" serializeAs="String">
                <value>C:\Users\Brad\Poof\</value>
            </setting>
        </Poof.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
